<section class="section" id="faq">
  <div class="section-head">
    <span class="section-head__num">06</span>
    <h2 class="section-head__title">faq</h2>
  </div>

  <div class="faq">
    <details>
      <summary>Can I bring my keyboards?</summary>
      <p>Yes, please! This is what Mechanicon is all about. We will have enough tables so that everyone can bring their keyboards for display!</p>
    </details>
    <details>
      <summary>How does the exhibition work?</summary>
      <p>It is easy: We bring a lot of tables, you bring the keyboards!</p>
      <p>The more keyboards the more interesting the exhibition will be. We will also provide blank cards where you can list the technical specifications of your board.</p>
      <p>Please note: We can not provide services like watching or storing your keyboards for you. We will always try our best to make the event as safe as possible, but you will exhibit your things at your own risk.</p>
    </details>
    <details>
      <summary>Can I come even if I don't have a keyboard yet?</summary>
      <p>Of course! We would love to show you around! Mechanicon is the perfect chance to get a deep dive into this hobby.</p>
    </details>
    <details>
      <summary>Can I sell keyboards at the event?</summary>
      <p>We are a non-profit organization and the event is part of our non-profit purpose. That is why it is not allowed to do commercial sales at the event.</p>
    </details>
    <details>
      <summary>I want to bring a lot of keyboards and I don't want to carry them from my parking lot.</summary>
      <p><a class="mc-link" href="mailto:hello@mechanicon.io">Contact us</a>, we can arrange some help for unloading and watching for your stuff! Do not just park in front of the building, this will get you in trouble.</p>
    </details>
    <details>
      <summary>I want a fancy sign next to my keyboard.</summary>
      <p>We got you covered! You will find signs and pens at the event! If you want to print your own signs at home, use the <a class="mc-link" href="/assets/postcard.pdf">original template</a>.</p>
    </details>
    <details>
      <summary>Where should I go if I get hungry?</summary>
      <p>The location 2026 is in Bornheim, a popular district of Frankfurt am Main. The heart of Bornheim is the <a class="mc-link" href="https://maps.app.goo.gl/7YAmMtd1HnDC6SzP6">Berger Strasse</a> — with a variety of dining options including restaurants, cafés, fast food outlets, and supermarkets.</p>
    </details>
    <details>
      <summary>You collect donations. What if you collect more than needed?</summary>
      <p>Mechanicon is not only an event, but also a registered non-profit organization. All donations will (and legally have to) be used towards the purpose of the organization. For more information, see the <a class="mc-link" href="/verein">the Verein page</a>.</p>
    </details>
    <details>
      <summary>I have even more questions!</summary>
      <p>We are happy to help! Just send the organizers a message: <a class="mc-link" href="mailto:hello@mechanicon.io">hello@mechanicon.io</a>.</p>
    </details>
  </div>
</section>
