<div class="mj-embed">
  <button type="button" class="mc-cta mc-cta-pink mj-facade"
          data-mj-script="https://app.mailjet.com/pas-nc-embedded-v1.js">
    &rarr; Show signup form
  </button>
  <p class="mc-small mc-text-muted mj-hint" style="margin-top: 12px;">
    Loads the form from Mailjet (EU) only on click &middot;
    <a class="mc-link" href="/imprint#newsletter">privacy</a>
  </p>
  <template class="mj-template">
    <iframe data-w-type="embedded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://1wrio.mjt.lu/wgt/1wrio/02yl/form?c=c0970cc3" width="100%" style="height: 0;"></iframe>
  </template>
</div>
